<h1> This is the listing page</h1>

<p>=====================================</p>
<p> This is listing without yours</p>
<p>=====================================</p>

<% @other_listings.each do |y| %>

  Name: <%= link_to "#{y.name}", listing_path(y), method: :get %> <br>
  Description: <%= y.description %><br>
  City: <%= y.city %><br>
  Price: RM <%= y.price %> per night<br>
  By: <%= y.user.first_name %><br>
  Tags: <% y.tags.each do |c| %>
	<%= link_to "#{c.name}", "/listings/tags/" + c.id.to_s, methos: :get %>
	<% end %><br><br>
	<%= button_to "Reserve now", new_listing_reservation_path(y), method: :get %>
	<p>___________________________________________</p>
 

<% end %>
