<h2> There are <%= @passed_search.size %> listing available for the date given</h2>

<% @passed_search.each do |y| %>
  Name: <%= link_to "#{y.name}", listing_path(y), method: :get %> <br>
  Description: <%= y.description %><br>
  City: <%= y.city %><br>
  Price: RM <%= y.price %> per night <br>
  By: <%= y.user.first_name %><br>
  Check-in: <%= @check_in_date %><br>
  Check-out: <%= @check_out_date %><br>
  Amount of days: <%= @amount_of_days %><br>
  Tags: <% y.tags.each do |c| %>
	<%= link_to "#{c.name}", "/listings/tags/" + c.id.to_s, method: :get %>
	<% end %><br><br>

	<%= link_to "Reserve now", new_listing_reservation_path(y), class: "btn btn-success" %>
	<p>___________________________________________</p>
 

<% end %>
