<h1> User profile </h1>    <span><%= button_to "Edit my info", edit_user_path(current_user), method: :get %></span>

<h2> My reservation </h2>
<% if current_user %>
	<%= button_to "Show your reservations", user_reservations_path(current_user.id), method: :get %>
<% end %>

<h2>My listings</h2>
<% @my_listings.each do |a| %>
	<p>Name: <%= link_to "#{a.name}", listing_path(a), method: :get %></p>
	<p>Description: <%= a.description %></p>
	<p>City: <%= a.city %></p>
	<p>Price: RM <%= a.price %> per night</p>
	Tags: <% a.tags.each do |b| %>
	<%= link_to "#{b.name}", "/listings/tags/" + b.id.to_s, method: :get %>
	<% end %><br>
	<% if a.user == current_user %>
		<span><%= link_to "Edit listing", edit_listing_path(a) %>  </span>
		<span>  <%= link_to "Remove listing", listing_path(a), method: :delete %></span><br>
	<% end %>
	<p>_________________________________________</p>
<% end %>

<% if current_user %>
	<%= button_to "Create new listing", new_listing_path, method: :get %>
	<%= button_to "Show all listing", listings_path, method: :get %>

<% end %>