<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({ 
    	minDate: 1, 
    	maxDate: "+6M ",
    	dateFormat: 'dd/mm/yy', 
    });
  } );

</script>

<style>
	.days {
		width: 150px;
	}

	.term {
		width: 30%;
	}

</style>


<div class=container>
	<div class=jumbotron>
		<h1>PairBnB</h1>
		<p>Enjoy the confort of home somewhere else</p>
	</div>


	<%= form_for :listing, url: listing_search_path, method: :get do |f| %>

	<%= text_field_tag :term, params[:term], placeholder:"Where do you wanna go? Example: Kuala Lumpur", class:"term" %>
	
	<%= f.text_field :check_in_date, placeholder: "Check-in-date" , id: "datepicker" %>

	<%= f.text_field :amount_of_days, placeholder:"How many days?" , class:"days" %>


	<%= f.submit "Search", class: 'btn btn-primary' %>
	<% end %>


</div>

