<script>
  $( function() {
    $( "#datepicker" ).datepicker({ 
    	minDate: 1, 
    	maxDate: "+6M ",
    	dateFormat: 'dd/mm/yy', 
    });
  } );

</script>


<div class=container>
	<div class=jumbotron>
		<h1>PairBnB</h1>
		<p>Enjoy the confort of home somewhere else</p>
	</div>


	<%= form_for :listing, url: listing_search_path, method: :get do |f| %>

	<%= f.label :city, "Search City" %>
	<%= f.text_field :city %>

	<%= f.label :check_in_date %>
	<%= f.text_field :check_in_date, placeholder: "dd/mm/yyyy" , id: "datepicker" %>

	<%= f.label :amount_of_days %>
	<%= f.text_field :amount_of_days %>

	<%= f.submit "Search"%>
	<% end %>


</div>

