<h1> All My reservation made </h1>

<% @reservations.each do |x| %>
	<p>Name: <%= x.listing.name %></p>
	<p>Description: <%= x.listing.description %></p>
	<p>City: <%= x.listing.city %></p>
	<p>By: <%= x.listing.user.first_name %></p>
	<p>Check in: <%= (x.check_in_date).strftime("%A %d %B %Y") %></p>
	<p> Check out: <%= (x.check_in_date + x.amount_of_days.to_i).strftime("%A %d %B %Y") %>
	<p> Number of days: <%= x.amount_of_days %></p>
	<p>_________________________________________</p>
<% end %>