<script>
  $( function() {
    $( "#datepicker" ).datepicker({ 
    	minDate: 1, 
    	maxDate: "+6M ",
    	dateFormat: 'dd/mm/yy', 
    });
  } );

</script>



<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>

<% if @listing.avatars != [] %>
	<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 500px; margin: 0 auto; position: relative">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <% z = 1 %>
	    <% (@listing.avatars.count - 1).times do |y| %>
	    	<li data-target="#myCarousel" data-slide-to="<%= z%>"></li>
	    	<% z += 1 %>
	    <% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  	<div class="item active">
	      <%= image_tag (@listing.avatars[0].medium.url) %>
	    </div>
		  <% @listing.avatars.each do |x| %>
				<div class="item"><%= image_tag (x.medium.url) %></div>
			<% end %>			
		</div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
<% end %>



<p>Name: <%= @listing.name %></p>
<p>Description: <%= @listing.description %></p>
<p>City: <%= @listing.city %></p>
<p>Price: RM <%= @listing.price %> per night</p>
<p>By : <%= @listing.user.first_name %></p>
<p>Tags: <% @listing.tags.each do |b| %>
	<%= link_to "#{b.name}", "/listings/tags/" + b.id.to_s, method: :get %>
	<% end %>
</p><br>

<%= form_for [@listing, @reservation] do |f| %>
	<%= f.label :check_in_date %>
	<%= f.text_field :check_in_date, placeholder: "dd/mm/yyyy" , id: "datepicker" %>

	<%= f.label :amount_of_days %>
	<%= f.text_field :amount_of_days %>

	<%= f.submit %><br>

<% end %>


<% if @flash_msg %>
	<%= @flash_msg %>
<% end %>